---
layout: default
sidebar: false
---

<article role="article" class="page">

  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
  {% endif %}

  {{ content }}

  {% unless page.footer == false %}
    <footer class="page-footer meta">
      {% if page.date or page.author %}
        {% if page.author %}
          {% include post/author.html %}
        {% endif %}

        {% include post/date.html %}

        {% if updated %}
          {{ updated }}
        {% else %}
          {{ time }}
        {% endif %}

        {% if page.categories %}
          {% include post/categories.html %}
        {% endif %}
      {% endif %}

      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </footer>
  {% endunless %}

</article>
