---
layout: default
single: true
sidebar: false
---

<article class="hentry" role="article">
  {% include article.html %}

    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}

  <footer class="page-footer">
    <a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS" class="ss-icon rss">RSS</a>

{% if site.simple_search %}
  <form action="{{ site.simple_search }}" method="get">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search ss-search" type="text" name="q" results="0" />
  </form>
{% endif %}

{% if page.previous.url %}
      <a class="prev-page" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">previous</a> |
{% endif %}

    <a href="/blog/archives" class="see-more">archive</a>

{% if page.next.url %}
      | <a class="next-page" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">next</a>
{% endif %}
  </footer>

</article>
{% if site.disqus_short_name and page.comments == true %}
<section class="comments">
  <h1>Comments</h1>
  <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}