$serif: "droid-serif", Georgia, Times, serif;
$sans:  "droid-sans", Helvetica, Arial, sans-serif;
$mono:  Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

$blockquote:  $type-border !default;

$heading-font:  $serif;
$title-font:    $sans;
$subtitle-font: $serif;

body {
  color: $text-color;
  font-family: $sans;
  font-size: 62.5%;
  line-height: 1.5em;
}

#main {
  font-size: 20px;
  line-height: 28px;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

#{headings()}{
  font-family: $heading-font;
  text-rendering: optimizelegibility;
  margin-bottom: 1em;
}

h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

p,
blockquote,
ul,
ol {
  margin-bottom: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul,
ol {
  margin-left: 30px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup,
sub {
  font-size: 0.8em;
  line-height: 0;
  position: relative;
  display: inline-block;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.5em;
}

q {
  font-style: italic;
  &:before {
    content: "\201C";
  }
  &:after {
    content: "\201D";
  }
}

del,
s {
  text-decoration: line-through;
}

dfn {
  font-style: italic;
  font-weight: bold;
}

abbr,
acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

pre,
code,
tt {
  font-family: $mono;
}

hr {
  margin-bottom: 0.2em;
}

small {
  font-size: .8em;
}

big {
  font-size: 1.2em;
}

blockquote {
  $bq-margin: 1.2em;
  font-style: italic;
  position: relative;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid rgba($text-color-light, .5);
  cite {
    font-style: italic;
    a {
      color: $text-color-light !important;
      word-wrap: break-word;
    }
    &:before {
      content: '\2014';
      padding:{right: .3em; left: .3em;}
      color: $text-color-light;
    }
  }

  @media only screen and (min-width: 992px) {
    padding-left: 1.5em;
    border-left-width: 4px;
  }
}

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

/* @extend this to force long lines of continuous text to wrap */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}