<div class="bio">
  <h3>Chris Eldredge</h3>
  <p>I’m a software developer for <a href="http://www.fool.com/">The Motley Fool</a>. I tend to spend a lot of time on build and release tools. When I'm not hacking codes, I'm probably reading, cooking, drinking old-man drinks or studying Korean with <a href="http://www.talktomeinkorean.com/">TTMIK</a>.</p>
</div>
<ul class="social">
  <li><a href="https://www.github.com/chriseldredge" class="ss-icon">octocat</a></li>
  <li><a href="http://www.linkedin.com/pub/chris-eldredge/1/52b/520" class="ss-icon">linkedin</a></li>
  <li><a href="http://www.twitter.com/creldredge" class="ss-icon">twitter</a></li>
</ul>
<p class="copyright">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
</p>
