#page-header {
  text-align: center;
}

body > header {
  background: $gray-lightest;
  border-top: 10px solid $teal-light;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $text-color;
    font-weight: normal;
  }
}
