#page-header {
  background: $gray-lightest;
  border-top: 10px solid $teal-light;
  text-align: center;

  h1 {
    font-family: $title-font;
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 10px;
    margin-top: 0;
    a,
    a:visited,
    a:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
  h2 {
    font-family: $subtitle-font;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
  }
}