// =============================
// Color Palette
// =============================
$gray:          #bbbbbb;
$gray-dark:     #333333;
$gray-light:    #e4e2e4;
$gray-lightest: #f8f8f8;
$red:           #e80000;
$teal:          #4f9ba8;
$teal-light:    #94c4cc;

// =============================
// Messages and Alerts
// =============================


// =============================
// Typography
// =============================

$text-color:         $gray-dark;
$link-color:         $teal;
$link-color-visited: $teal;
$link-color-active:  $teal;
$link-color-hover:   $red;

