
.gist {
color:#000;
}

.gist .render-container .render-viewer-error,.gist .render-container .render-viewer-fatal,.gist .render-container .octospinner {
display:none;
}
.gist pre {
line-height:inherit;
font:inherit;
white-space:pre;
}
.gist .gist-file {
border:1px solid #dedede;
font-family:Consolas, "Liberation Mono", Courier, monospace;
margin-bottom:1em;
}

.gist .gist-file.gist-render {
border:none;
}

.gist .gist-file .gist-meta {
font-family:Helvetica, arial, freesans, clean, sans-serif;
overflow:hidden;
font-size:85%;
color:#666;
background-color:#eaeaea;
padding:.5em;
}

.gist .gist-file .gist-meta a {
color:#369;
}

.gist .gist-file .gist-meta a:visited {
color:#737;
}

.gist .gist-file .gist-data {
overflow:auto;
word-wrap:normal;
background-color:#f8f8ff;
border-bottom:1px solid #ddd;
font-size:100%;
}

.gist .gist-file.scroll .gist-data {
position:absolute;
top:0;
right:0;
bottom:30px;
left:0;
overflow:scroll;
}

.gist .gist-file.scroll .gist-meta {
position:absolute;
bottom:0;
right:0;
left:0;
}

.gist .gist-file .gist-data .line-data {
padding:.5em!important;
}

.gist .gist-file .gist-data .line-pre {
font-family:Consolas, "Liberation Mono", Courier, monospace;
background:transparent!important;
border:none!important;
margin:0!important;
padding:0!important;
}

.gist .gist-file .gist-data .gist-highlight {
background:transparent!important;
}

.gist .gist-file .gist-data .line-numbers {
background-color:#ececec;
color:#aaa;
border-right:1px solid #ddd;
text-align:right;
padding:.5em;
}

.gist .gist-file .gist-data .line-numbers .line-number {
clear:right;
display:block;
}

.gist-syntax {
background:#fff;
}

.gist-syntax .err {
color:#a61717;
background-color:#e3d2d2;
}

.gist-syntax .cp {
color:#999;
font-weight:700;
}

.gist-syntax .cs {
color:#999;
font-weight:700;
font-style:italic;
}

.gist-syntax .gd {
color:#000;
background-color:#fdd;
}

.gist-syntax .gd .x {
color:#000;
background-color:#faa;
}

.gist-syntax .ge {
color:#000;
font-style:italic;
}

.gist-syntax .gi {
color:#000;
background-color:#dfd;
}

.gist-syntax .gi .x {
color:#000;
background-color:#afa;
}

.gist-syntax .go {
color:#888;
}

.gist-syntax .gs {
font-weight:700;
}

.gist-syntax .gu {
color:#aaa;
}

.gist-syntax .nb {
color:#0086b3;
}

.gist-syntax .ni {
color:purple;
}

.gist-syntax .nt {
color:navy;
}

.gist-syntax .w {
color:#bbb;
}

.gist-syntax .sr {
color:#009926;
}

.gist-syntax .ss {
color:#990073;
}

.gist-syntax .c,.gist-syntax .cm,.gist-syntax .c1 {
color:#998;
font-style:italic;
}

.gist-syntax .k,.gist-syntax .o,.gist-syntax .kc,.gist-syntax .kd,.gist-syntax .kp,.gist-syntax .kr,.gist-syntax .ow {
color:#000;
font-weight:700;
}

.gist-syntax .gr,.gist-syntax .gt {
color:#a00;
}

.gist-syntax .gh,.gist-syntax .bp {
color:#999;
}

.gist-syntax .gp,.gist-syntax .nn {
color:#555;
}

.gist-syntax .kt,.gist-syntax .nc {
color:#458;
font-weight:700;
}

.gist-syntax .m,.gist-syntax .mf,.gist-syntax .mh,.gist-syntax .mi,.gist-syntax .mo,.gist-syntax .il {
color:#099;
}

.gist-syntax .s,.gist-syntax .sb,.gist-syntax .sc,.gist-syntax .sd,.gist-syntax .s2,.gist-syntax .se,.gist-syntax .sh,.gist-syntax .si,.gist-syntax .sx,.gist-syntax .s1 {
color:#d14;
}

.gist-syntax .na,.gist-syntax .no,.gist-syntax .nv,.gist-syntax .vc,.gist-syntax .vg,.gist-syntax .vi {
color:teal;
}

.gist-syntax .ne,.gist-syntax .nf {
color:#900;
font-weight:700;
}
