{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
      </p>
    {% endunless %}
  </header>
{% endunless %}

{% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}

  <footer class="page-footer">
    <a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS" class="ss-icon rss">RSS</a>

{% if site.simple_search %}
  <form action="{{ site.simple_search }}" method="get">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search ss-search" type="text" name="q" results="0" />
  </form>
{% endif %}
    
    <a href="/blog/archives" class="see-more">archive</a>
  </footer>
{% else %}
  <div class="entry-content">{{ content }}</div>
{% endif %}
